.box {
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.body {
	text-align: left;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	z-index: 2;
}
.body2 {
	display: grid;
	grid-template-columns: 40% 40%;
	color: white;
	justify-content: center;
}
.info {
	text-align: left;
	z-index: 2;
	border: 1px solid;
	border: 1px;
	border: solid;
	border-color: black;
	border-radius: 30px;
}
.info button {
	display: block;
	margin: auto;
}
.description, .metadata {
	margin: 10px;
}
.description p {
	 margin: 10px;
	 font-size: 15px;
}
.picture {
	justify-content: center;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: 2;
}
.picture img {
	border-radius: 4px;
}
.play {
	justify-content: center;
	text-align: center;
}
.watch {
	background-color: gray; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}