.box {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 10% auto 10%;
  color: white;
}

.title {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
  margin: 10px;
  margin-bottom: 20px;
}

.body {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
}

.body2 {
  display: grid;
  grid-template-columns: 40% 40%;
  color: white;
  justify-content: center;
}

.info {
  text-align: left;
  z-index: 2;
  border: 1px solid;
  border: 1px;
  border: solid;
  border-color: black;
  border-radius: 30px;
}


.description, .metadata {
  margin: 10px;
}

.description p {
   margin: 10px;
   font-size: 15px;
}

.picture {
  justify-content: center;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 2;
}

.picture img {
  border-radius: 4px;
}

.play {
  justify-content: center;
  text-align: center;
}
.watch {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
.stars, .twinkling {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/*////////////////   Bacgraund   //////////////// */