.Container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px 60px auto 40px;
  color: white;
}

.Title {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
}

.Search{
  text-align: right;
  align-content: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
  width: auto;
}

.Search a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: yellow;
  cursor: pointer;
}

.films {
	min-width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 2;
}

.film-title {
  margin: 10px;
}

.film {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border: solid;
  border-color: gray;
  border-radius:50px;
}

img {
	margin: 20px;
}

* {
    margin: 0;
    padding: 0;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
.stars, .twinkling {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.stars {
  background:#000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/*////////////////   Bacgraund   //////////////// */